#asssi{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

#asssi2{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

#assi3{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}
header{
height: 40px;
text-align: center;
}

nav{
text-align: center;
}
nav ul{
list-style-type: none;
}

nav li{
display: inline;
margin-right: 40px;
}

a{
color: rgb(75, 165, 67);
text-decoration: none;
font-family: arial, sans-serif;
}

section{
width: 650px;
height: 550px;
float: left;
background: rgb(204, 191, 191);
}

aside{
    width: 310px;
    height: 550px;
    float: left;
    background: rgb(204, 191, 191);
}

footer{
    height: 50px;
    clear: both;
    background: rgb(204, 191, 191);
}
